<section>
<div class="image_container">
    <div class="cont_img">
    <!-- <img src="https://i.pinimg.com/236x/02/74/48/027448a443c216431450aecdca507fa3.jpg" alt=""> -->
</div>
</div>


    <div class="container-section">
        <span class="carre" routerLink="/palindrome">
           <p> Palindrome</p>
        </span>
        <span class="carre" routerLink="/caractere">
            <p> Chaine de caractere  </p>
        </span>
        <span class="carre" routerLink="/api">
            <p>API</p> 
        </span>
    </div>
</section>